html {
  font-family: "Droid Serif", serif;
}

.header {
  background-color: #70ad55;
  color: #fff;
  padding: .5em;
}

input,
select,
textarea {
  border-color: #6e8c62;
}

.yes {
  padding-right: 1.3em;
}

button {
  color: #fff;
  background-color: #6e8c62;
  border: 1px #000;
}

button:hover {
  background-color: #f2f2f2;
}

footer {
  background-color: #70ad55;
  margin-top: 1em;
}

textarea {
  height: 10em;
}

hr {
  color: #6e8c62;
  padding: 1em;
}

small {
  color: #fff;
}

@media only screen and (min-width: 40em) {

  label {
    padding-left: .25em;
    padding-right: .25em;
  }
}

@media only screen and (min-width: 60em) {

  section {
    padding: 1em;
  }
}
